.MuiList-root {
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.MuiList-root::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.MuiList-root {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.BoxList {
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.BoxList::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.BoxList {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
