.MuiTableContainer-root {
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.MuiTableContainer-root::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.MuiTableContainer-root {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
